.item {
  font-size: 1.5rem;
  color: white;
  height: 4rem;
}

.input, .step-initial {
  /* background-color: red; */
  /* height: 5rem; */
}

.description, .step-next {
  /* background-color: orange; */
  /* height: 4rem; */
  margin-top: 1rem;
}