.solver {
  background-color: blue;
  width: 100%;
  margin-top: 20vh;
  display: flex;
  flex-direction: row;
}

.solver-left, .solver-right {
  flex: 1;
}

.solver-middle {
  width: 1rem;
  background-color: black;
}

.solver-left {
  background-color: green;
}

.solver-right {
  background-color: yellow;
}